.login {
  top: 5em;
  left: 50%;
  width: 20em;
  height: 19em;  
  background-color: #FFF;
  position: fixed;
  margin: auto;
  transform: translate(-50%, 0);
  border-radius: 5px;
  z-index: 9999;  
  transition: all .6s ease-in-out;
}

.popup_overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}



.xbox {
  cursor: pointer;  
}

.xbox:hover {
  transform: scale(1.2)
}

.form {
  /* margin: 2em auto 0; */
  padding: 2em;
  text-align: left;
}

.input {
  width: 100%;
  margin-bottom: 0.5em;
}

.register {
  padding: 0.438em;
  border-radius: 3px;
  color: #FFF;
  background-color: #444;  
  border-style: none;
}

.register:hover {
  background-color: #333;
  border-color: #444;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.Btn {
  margin-top: 1em;
  width: 100%;
}

.register {
  width: 100%;
}

ul{
  padding: 0;
}

li{  
  list-style: none;
}