/* .header{
  display: flex;      
  height: 76px;
  justify-content: space-between;  
  position: sticky;
  z-index: 9999;
  box-sizing: border-box;  
  border-bottom: 1px solid rgba(0,0,0,.08);  
}

.drop a{
  cursor: context-menu;
}

.login {
  transition: all .6s ease-in-out;
} */

/* Navbar */

.navbar {
  position: sticky;
  display: flex;
  width: 100%;
  height: 76px;
  justify-content: space-between;      
  align-items: baseline;
  color: var(--color-black);
  padding: 8px;    
  background-color: transparent;    
  transition: all var(--animation-duration) ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,.08);  
  box-sizing: border-box;
  z-index: 9999;
}

.navbar.navbar--dark{
  background-color: var(--color-blue);    
  padding: 2px;
  opacity: 0.95;
  z-index: 1;
}

.menu {
  display:flex;
}

.menu ul,
.logo {
  padding: 0 8px;
  align-items: center;  
}

.navbar a {
  color: var(--color-dark-grey);
}

.logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
}

.menu__item {
  padding: 8px 12px;
  margin: 0 4px 0 0;
  cursor: pointer; /*마우스 올렸을때 손가락모양*/
  border: 1px solid transparent;
}

.menu__item:hover {
  border: 1px solid var(--color-white);
  color: var(--color-dark-grey);
  background-color: var(--color-blue-light);    
  border-radius: var(--size-border-radius);
  transition: 0.5s;
}

.toggle_btn {
  position:absolute;
  top: 10px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

@media screen and (max-width:768px) {
  .toggle-btn {                
    display: block;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  .navbar.navbar--dark {
      padding-top: 10px;
  }

  .menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
  }

  .menu.open {
      display: block;
  }
}