/* .header{
  display: flex;      
  height: 76px;
  justify-content: space-between;  
  position: sticky;
  z-index: 9999;
  box-sizing: border-box;  
  border-bottom: 1px solid rgba(0,0,0,.08);  
}

.drop a{
  cursor: context-menu;
}

.login {
  transition: all .6s ease-in-out;
} */

/* Navbar */

header {
  border-bottom: 1px solid rgba(0,0,0,.08);
  box-sizing: border-box;
}

.hover_menu{
  position: relative;
  z-index: 9999;
}

.member {
  display: flex;
  flex-direction: column;
}

.member_menu:hover {
  cursor: pointer;
}

.navbar { 
  position: sticky;   
  height: 76px;
  color: var(--color-black);
  padding: 10px;    
  margin: 0 2em;
  background-color: transparent;    
  transition: all var(--animation-duration) ease-in-out;    
  box-sizing: border-box;
  z-index: 9999;  
}

.content {  
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.navbar.navbar--dark{
  background-color: var(--color-blue);
  padding: 2px;
  opacity: 0.95;
  z-index: 1;
}

.menu {
  display:flex;  
}

.menu,
.logo {
  padding: 0 8px;
  align-items: baseline;  
}

.navbar a {
  color: var(--color-dark-grey);
}

.logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  cursor: pointer;
}

.menu__item {
  padding: 8px 12px;
  margin: 0 4px 0 0;
  cursor: pointer; /*마우스 올렸을때 손가락모양*/
  border: 1px solid transparent;
}

.menu__item:hover {
  border: 1px solid var(--color-white);
  color: var(--color-dark-grey);
  background-color: var(--color-blue-light);    
  border-radius: var(--size-border-radius);
  transition: 0.5s;
}

.toggle_btn {
  position:relative;
  top: 7px;    
  right: 15px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

.toggle_hide {
  display: none;
}

.hidden {
  display: none;
  opacity: 0;
}

.login_action {
  /* opacity: 1;
  transition: "opacity 500ms"; */
  visibility: visible;
  animation: fade-in .3s;
  animation-fill-mode: forwards;
  display: flex;
}

.login_hidden {
  opacity: 0;  
  display: none;
  /* visibility: "hidden"; */
  /* transition: "opacity 500ms , visibility 500ms" */
  animation: fade-out .3s;
  animation-fill-mode: forwards;  
}

.menu_close {    
  display: flex;
  animation: fade-in .3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width:768px) {
  .toggle_btn {                
    display: block;
    color: #0040ad;
    cursor: pointer;
    transition: .15s ease-in;
  }  

  .toggle_btn:hover {
    transform: scale(1.1);    
  }
  
  .toggle_hide {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    /* background-color: var(--color-blue); */
  }

  .navbar.navbar--dark {
      padding-top: 10px;
  }

  .menu {    
      flex-direction: column;
      text-align: center;
      width: 100%;
  }  

  .menu_open {
    display: block;      
    flex-direction: column;
    animation: fade-in .5s;
    margin: auto;                
  }  

  .menu_close {    
    display: none;
  }
  
  
  
}